.results {
  display: flex;
}

section {
  background: rgb(214, 209, 205, 0.9);
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  margin-left: 200px;
  margin-right: 200px;
  text-align: left;
  padding: 20px 30px;
}
h2 {
  font-family: "Nerko One", cursive;
  font-size: 50px;
  color: #11624f;
}
